#loader {
  align-self: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid;
  border-top-color: black;
  border-bottom-color: tomato;
  animation: spin 500ms linear infinite;

  display: none;
  &.show {
    display: block;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
