.post-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  #post-text-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    resize: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  #post-submit-btn {
    background-color: $btn-blue;
    width: 5rem;
    align-self: flex-end;
    color: $fg-light;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}
