.post-form-container {
  width: clamp(22rem, 30vw, 25rem);
  margin-top: 3rem;
  padding: 0.75rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;

  #header {
    font-size: 0.85rem;
    font-weight: 500;
  }

  .post-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    textarea {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      resize: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }

    #post-submit-btn {
      background-color: $btn-blue;
      width: 5rem;
      align-self: flex-end;
      color: $fg-light;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
  }
}
